<div class ="add-post-title">
<h2 class="col-sm-12 col-md-6">
 <%= MaDetails.name %><br/> 
<%= MaDetails.title %>
 </h2>
</div>

<% if(typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <% for (let field in validationErrors){ %>
      <li>
        <%= validationErrors[field].message %>
      </li>
      <% } %>
  </ul>
  <% } %>


<h3> Write Your Comment: </h3>

<form id = "form" action="/martialarts/<%= MaDetails._id %>/comments" method="post">
<div>
  <label for="comment-content"></label>
  <textarea class="form-control" id="comment-content" name="commentContent" placeholder="e.g Blah"></textarea>
<br/>
</div>
  <button class= "btn button"> Submit Comment </button>

</form>
