<h2> Log In </h2>

<%if (typeof errorMessage !== "undefined") { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
  <%}%>

  <form id="form" action="/process-login" method="post">

      <label for="email-input"> Email </label>
      <input id="email-input" type="email" name="loginEmail" placeholder="e.g JohnSnow@bastardmail.com" />
      <br/>

      <label for="password-input"> Password </label>
      <input id="password-input" type="password" name="loginPassword" placeholder="e.g ygritte123" />
      <br/>

      <button> Log In </button>
    </form>

    <a href="/facebook/login"> Login with facebook </a>
    <a href="/google/login"> Login with Google </a>

    <p> Don't have an account ?
      <a href="/signup"> Sign Up</a>
    </p>
