<h2> Sign Up </h2>

<%if (typeof errorMessage !== "undefined") { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
  <%}%>

    <form id="form" action="/process-signup" method="post">
      <%# fullName
          password%>
        <label for="username-input"> Username </label>
        <input id="username-input" type="text" name="signupUsername" placeholder="e.g SubZero123" />
        <br/>

        <label for="email-input"> Email </label>
        <input id="email-input" type="email" name="signupEmail" placeholder="e.g Chineseninjawarrior@hokutoken.com" />
        <br/>

        <label for="password-input"> Password </label>
        <input id="password-input" type="password" name="signupPassword" placeholder="e.g Somepassword1#" />
        <br/>

        <label for="martial-arts"> Martial Arts </label>
        <input id="martial-arts" type="text" name="martialartsInput" placeholder="e.g Kung-fu">
        <br/>

        <label for="experience"> Experience </label>
        <select id="experience" name="experienceInput">
           <option value="beginner">Beginner</option>
           <option value="intermidiate">Intermidiate</option>
           <option value="advance">Advance</option>
           <option value="expert">Expert</option>
</select>
        <br/>

        <%# <label for="location"></label>
        <input id="location" type="text" name="lacationInput" placeholder="Miami">
        %>
          <br/>


          <button> Sign Up </button>
    </form>


    <p> Already have an account ?
      <a href="/login"> Log In </a>
    </p>
